<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xjtu.track.dao.DataDetailMapper">
 
  <resultMap id="BaseResultMap" type="cn.xjtu.track.entity.DataDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="vel_e" jdbcType="DOUBLE" property="velE" />
    <result column="vel_n" jdbcType="DOUBLE" property="velN" />
    <result column="vel_u" jdbcType="DOUBLE" property="velU" />
    <result column="roll" jdbcType="DOUBLE" property="roll" />
    <result column="pitch" jdbcType="DOUBLE" property="pitch" />
    <result column="course" jdbcType="DOUBLE" property="course" />
    <result column="log_acce" jdbcType="DOUBLE" property="logAcce" />
    <result column="lateral_acce" jdbcType="DOUBLE" property="lateralAcce" />
    <result column="nor_acce" jdbcType="DOUBLE" property="norAcce" />
    <result column="time_year" jdbcType="INTEGER" property="timeYear" />
    <result column="time_month" jdbcType="INTEGER" property="timeMonth" />
    <result column="time_day" jdbcType="INTEGER" property="timeDay" />
    <result column="time_hour" jdbcType="INTEGER" property="timeHour" />
    <result column="time_minute" jdbcType="INTEGER" property="timeMinute" />
    <result column="time_second" jdbcType="DOUBLE" property="timeSecond" />
    <result column="data_item_id" jdbcType="BIGINT" property="dataItemId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, longitude, latitude, height, vel_e, vel_n, vel_u, roll, pitch, course, log_acce, 
    lateral_acce, nor_acce, time_year, time_month, time_day, time_hour, time_minute, 
    time_second, data_item_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
   <select id="selectByItemId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select   
    <include refid="Base_Column_List" />
    from data_detail
    where data_item_id = #{dataItemId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xjtu.track.entity.DataDetail" useGeneratedKeys="true" keyProperty="id"  >
    
    insert into data_detail (longitude, latitude, 
      height, vel_e, vel_n, vel_u, 
      roll, pitch, course, log_acce, 
      lateral_acce, nor_acce, time_year, 
      time_month, time_day, time_hour, 
      time_minute, time_second, data_item_id
      )
    values (#{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{height,jdbcType=INTEGER}, #{velE,jdbcType=DOUBLE}, #{velN,jdbcType=DOUBLE}, #{velU,jdbcType=DOUBLE}, 
      #{roll,jdbcType=DOUBLE}, #{pitch,jdbcType=DOUBLE}, #{course,jdbcType=DOUBLE}, #{logAcce,jdbcType=DOUBLE}, 
      #{lateralAcce,jdbcType=DOUBLE}, #{norAcce,jdbcType=DOUBLE}, #{timeYear,jdbcType=INTEGER}, 
      #{timeMonth,jdbcType=INTEGER}, #{timeDay,jdbcType=INTEGER}, #{timeHour,jdbcType=INTEGER}, 
      #{timeMinute,jdbcType=INTEGER}, #{timeSecond,jdbcType=DOUBLE}, #{dataItemId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xjtu.track.entity.DataDetail" useGeneratedKeys="true" keyProperty="id">
    insert into data_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
     
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="velE != null">
        vel_e,
      </if>
      <if test="velN != null">
        vel_n,
      </if>
      <if test="velU != null">
        vel_u,
      </if>
      <if test="roll != null">
        roll,
      </if>
      <if test="pitch != null">
        pitch,
      </if>
      <if test="course != null">
        course,
      </if>
      <if test="logAcce != null">
        log_acce,
      </if>
      <if test="lateralAcce != null">
        lateral_acce,
      </if>
      <if test="norAcce != null">
        nor_acce,
      </if>
      <if test="timeYear != null">
        time_year,
      </if>
      <if test="timeMonth != null">
        time_month,
      </if>
      <if test="timeDay != null">
        time_day,
      </if>
      <if test="timeHour != null">
        time_hour,
      </if>
      <if test="timeMinute != null">
        time_minute,
      </if>
      <if test="timeSecond != null">
        time_second,
      </if>
      <if test="dataItemId != null">
        data_item_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="velE != null">
        #{velE,jdbcType=DOUBLE},
      </if>
      <if test="velN != null">
        #{velN,jdbcType=DOUBLE},
      </if>
      <if test="velU != null">
        #{velU,jdbcType=DOUBLE},
      </if>
      <if test="roll != null">
        #{roll,jdbcType=DOUBLE},
      </if>
      <if test="pitch != null">
        #{pitch,jdbcType=DOUBLE},
      </if>
      <if test="course != null">
        #{course,jdbcType=DOUBLE},
      </if>
      <if test="logAcce != null">
        #{logAcce,jdbcType=DOUBLE},
      </if>
      <if test="lateralAcce != null">
        #{lateralAcce,jdbcType=DOUBLE},
      </if>
      <if test="norAcce != null">
        #{norAcce,jdbcType=DOUBLE},
      </if>
      <if test="timeYear != null">
        #{timeYear,jdbcType=INTEGER},
      </if>
      <if test="timeMonth != null">
        #{timeMonth,jdbcType=INTEGER},
      </if>
      <if test="timeDay != null">
        #{timeDay,jdbcType=INTEGER},
      </if>
      <if test="timeHour != null">
        #{timeHour,jdbcType=INTEGER},
      </if>
      <if test="timeMinute != null">
        #{timeMinute,jdbcType=INTEGER},
      </if>
      <if test="timeSecond != null">
        #{timeSecond,jdbcType=DOUBLE},
      </if>
      <if test="dataItemId != null">
        #{dataItemId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xjtu.track.entity.DataDetail">
    update data_detail
    <set>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="velE != null">
        vel_e = #{velE,jdbcType=DOUBLE},
      </if>
      <if test="velN != null">
        vel_n = #{velN,jdbcType=DOUBLE},
      </if>
      <if test="velU != null">
        vel_u = #{velU,jdbcType=DOUBLE},
      </if>
      <if test="roll != null">
        roll = #{roll,jdbcType=DOUBLE},
      </if>
      <if test="pitch != null">
        pitch = #{pitch,jdbcType=DOUBLE},
      </if>
      <if test="course != null">
        course = #{course,jdbcType=DOUBLE},
      </if>
      <if test="logAcce != null">
        log_acce = #{logAcce,jdbcType=DOUBLE},
      </if>
      <if test="lateralAcce != null">
        lateral_acce = #{lateralAcce,jdbcType=DOUBLE},
      </if>
      <if test="norAcce != null">
        nor_acce = #{norAcce,jdbcType=DOUBLE},
      </if>
      <if test="timeYear != null">
        time_year = #{timeYear,jdbcType=INTEGER},
      </if>
      <if test="timeMonth != null">
        time_month = #{timeMonth,jdbcType=INTEGER},
      </if>
      <if test="timeDay != null">
        time_day = #{timeDay,jdbcType=INTEGER},
      </if>
      <if test="timeHour != null">
        time_hour = #{timeHour,jdbcType=INTEGER},
      </if>
      <if test="timeMinute != null">
        time_minute = #{timeMinute,jdbcType=INTEGER},
      </if>
      <if test="timeSecond != null">
        time_second = #{timeSecond,jdbcType=DOUBLE},
      </if>
      <if test="dataItemId != null">
        data_item_id = #{dataItemId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xjtu.track.entity.DataDetail">
    update data_detail
    set longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      height = #{height,jdbcType=INTEGER},
      vel_e = #{velE,jdbcType=DOUBLE},
      vel_n = #{velN,jdbcType=DOUBLE},
      vel_u = #{velU,jdbcType=DOUBLE},
      roll = #{roll,jdbcType=DOUBLE},
      pitch = #{pitch,jdbcType=DOUBLE},
      course = #{course,jdbcType=DOUBLE},
      log_acce = #{logAcce,jdbcType=DOUBLE},
      lateral_acce = #{lateralAcce,jdbcType=DOUBLE},
      nor_acce = #{norAcce,jdbcType=DOUBLE},
      time_year = #{timeYear,jdbcType=INTEGER},
      time_month = #{timeMonth,jdbcType=INTEGER},
      time_day = #{timeDay,jdbcType=INTEGER},
      time_hour = #{timeHour,jdbcType=INTEGER},
      time_minute = #{timeMinute,jdbcType=INTEGER},
      time_second = #{timeSecond,jdbcType=DOUBLE},
      data_item_id = #{dataItemId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>